extends ./layout.pug
include ./components/tables
block contents  
    // Jumbotron
    .container
        h3 Manage Billing Payment
        br
        //.jumbotron
        .table-responsive
            table.table-striped
                thead
                    tr
                        th Payment Number
                        th Payment Type
                        th Payment ID
                        th Amount (CAD)
                        th Payment Date
                tbody
                each item in listItems
                    tr
                        td= item.pos + 1 
                        td= item.payment_method
                        td= item.id
                        td= item.totalpayment
                        td= item.create_time
    .container
        footer.footer
            p © Price Monitor - a NodeJS Project of Luan Le