extends ./layout.pug
include ./components/tables
block contents  
    // Jumbotron
    .container
        h3 Manage Billing     
            a(href='./manageshop')
                span    Shop
        br
        //.jumbotron
        .table-responsive
            table.table.table-striped
                thead
                    tr
                        th #
                        th Type
                        th PaymentID
                        th Amount(CAD)
                        th Date
                tbody
                each item in listItems
                    tr
                        td= item.pos + 1 
                        td= item.payment_method
                        td= item.id
                        td= item.totalpayment
                        td= item.create_time
    .container
        footer.footer
            p © Price Monitor - NodeJS Project last updated Nov. 2023