extends ./layout.pug
block contents
    .container
        .jumbotron
            h4
                a(href= graphUrl, target='blank')= graphLabel
            br()
            script(src="https://cdn.jsdelivr.net/npm/chart.js", defer)
            script.
                const graphLabel = !{JSON.stringify(graphLabel)};
                const graphUrl = !{JSON.stringify(graphUrl)};
                const prices = !{JSON.stringify(arrayPrice)};
                const dates = !{JSON.stringify(arrayDate)};   
            script(src="../js/graph.js", defer)
            div.graph-container
                canvas.mygraph(id="myGraph")
        a.btn.btn-link(href='/monitor', role='button') Go back
            //each item in arrayPrice
                p= item
            //each item in arrayDate 
                p= item
        footer.footer
            p © Price Monitor - a NodeJS Project of Luan Le