extends ./layout.pug
include ./components/tables
block contents  
    // Jumbotron
    .container
        h4 Your saved items list
        hr
        .table-responsive
              table.table.table-striped
                thead
                    tr
                        th #
                        th Category
                        th.thumnail-tbl Image
                        th Description
                        th Saved Price 
                        th Original Price
                        th Initial Date
                        th Remove Item
                        th Display Graph
                        th Update Graph
                        th Add to Shop

                tbody
                 each item in listItems
                    tr
                        td= item.pos + 1
                        td= item.category
                        td.thumnail-tbl
                            a(href= item.url, target='blank')
                                img.thumbnail-img-td-tbl(src= item.img_src) 
                                div
                                    img(src= item.img_src)
                        td
                            a(href= item.url, target='blank')= item.title
                        td= item.price 
                        td= item.price_list
                        td= item.date
                        td
                            form(action="./removeItem", method="POST") 
                                input(type='text', value= item.url, name="url", hidden)
                                input(type='text', value= item.email, name="email", hidden)
                                button.btn-link(type="submit", name="remove") Remove
                        td
                            form(action="./displayGraph", method="POST")
                                input(type='text', value= item.url, name="url", hidden)
                                button.btn-link(type="submit", name="display") Display
                        td
                            form(action="./updatePriceDate", method="POST") 
                                input(type='text', value= item.category, name="category", hidden)
                                input(type='text', value= item.url, name="url", hidden)
                                button.btn-link(type="submit", name="update") Update
                        td
                            form(action="./addShop", method="POST") 
                                input(type='text', value= item.category, name="category", hidden)
                                input(type='text', value= item.url, name="url", hidden)
                                button.btn-link(type="submit", name="update") Add_Shop
    .container
        footer.footer
            p © Price Monitor - NodeJS Project last updated Nov. 2023